{
  "extends": [
    "airbnb"
  ],
  "parser": "babel-eslint",
  "rules": {
    "react/jsx-closing-bracket-location": [2, {selfClosing: 'tag-aligned', nonEmpty: 'after-props'}],
    "react/jsx-filename-extension": [2, { "extensions": [".js", ".jsx"] }],
    "react/require-default-props": 0,
    "react/sort-comp": [2, {
      order: [
        'type-annotations',
        'static-methods',
        'lifecycle',
        'render',
        'everything-else'
      ]
    }]
  }
}
